In [7]:
import pandas as pd

In [8]:
# Block 2
df_test = pd.DataFrame({"A": [1, 10, 100],
                        "B": [2, 20, 200],
                        "C": [3, 30, 300],
                        "st": ["ones", "tens", "hundreds"]})
df_test

     A    B    C        st
0    1    2    3      ones
1   10   20   30      tens
2  100  200  300  hundreds

In [13]:
# Block added between 2 and 3
df_test.shape

(3, 4)

In [11]:
# Block 3
# Not empty in test_merge branch
df_test["A"] = df_test["A"] * 4
df_test["A"].sum()

1776

## Markdown
1. Some words go here
2. some_new text
3. Line 3 (_)

In [12]:
# Block 4
df_test["B"] = df_test["B"] * 4
df_test["A"].value_counts()

16      1
160     1
1600    1
Name: A, dtype: int64