In [14]:
import pandas as pd

In [15]:
# Block 2
df_test = pd.DataFrame({"A": [1, 10, 100],
                        "B": [2, 20, 200],
                        "C": [3, 30, 300],
                        "st": ["ones", "tens", "hundreds"]})
df_test

     A    B    C        st
0    1    2    3      ones
1   10   20   30      tens
2  100  200  300  hundreds

In [9]:
# Block 3
# empty

## Markdown
1. Some words go here
2. _
3. Line 3 (_)

In [16]:
# Block 4
df_test["A"] = df_test["A"] * 4
df_test["A"] = df_test["A"] + 1
df_test["A"].value_counts()

5      1
41     1
401    1
Name: A, dtype: int64